/* sun_header.css */
#headBox{position: relative; z-index: 1000; box-sizing: border-box;}

a,button{display: block; width: 100%; height: 100%; font-family: 'Noto Sans KR medium'}
h1{float: left;}
h1>a>i{display: block; float: left; margin-right: 10px; width: 60px; height: 60px; background-image: url('../../../img/header/sun_logo.png'); background-repeat: no-repeat; background-size: contain; background-position: center;}
h1>a>p{float: left; text-transform: uppercase; font-size: 24px;}
.gnb{box-sizing: border-box;}
.gnb>ul{float: left;}
.gnb>ul>li{float: left;}
.gnb>ul>li:last-child{margin-right: 0;}

.gnb>ul>li>button>p{transition: color 500ms ease; text-align: center; text-transform: uppercase;
}
.gnb>ul>li:hover>button>p{color: #96d2ea;}

/* MENU BUTTON */
.menu_btn{display: none; float: right; width: 40px; height: 40px;}
.menu_btn button{position: relative; display: block; width: 100%; height: 100%;}
.menu_btn i{position: absolute; display: block; width: 100%; height: 3px; background-color: #fff; border-radius: 10px;
  left: 0; transition: 250ms ease-in-out;}

.menu_btn i:nth-child(2) {top: 10%;}
.menu_btn i:nth-child(3),
.menu_btn i:nth-child(4){top: 50%; transform: translateY(-50%);}
.menu_btn i:nth-child(5) {bottom: 10%;}

.menu_btn.open i:nth-child(2) {top: 18px; width: 0%; left: 50%;}
.menu_btn.open i:nth-child(3) {transform: rotate(45deg);}
.menu_btn.open i:nth-child(4) {transform: rotate(-45deg);}
.menu_btn.open i:nth-child(5) {top: 18px; width: 0%; left: 50%;}


@media screen and (max-width: 768px){
	#headBox{padding: 10px 20px; width: 100%; height: 60px;}
	h1>a>i{width: 40px; height: 40px; background-size: 80%}
	h1>a>p{line-height: 40px; font-size: 18px;}
	.gnb{width: 100%; height: 100%;}
	.gnb>ul{position: absolute; left: 0; top: -100vh; padding: 30px; box-sizing: border-box; width: 100%; height: calc(100vh - 60px); background-image: linear-gradient(to left top, #005054, #005066, #004e79, #004886, #433c86); transition: 500ms ease}
	.gnb>ul>li{width: 100%; height: 25%; font-size: 40px; }
	.gnb>ul>li>button{position: relative;}
	.gnb>ul>li>button>p{position: absolute; top: 50%; transform: translateY(-50%);width: 100%; height: auto; font-size: 40px;}
	.menu_btn{display: block; }
	.gnb.open>ul{top: 60px;}
}

@media screen and (min-width: 1281px){
	#headBox{padding: 45px 0; width: 100%; height: 150px;}
	.gnb{position: absolute; left: 50%; transform: translateX(-50%); width: 1260px; height: 60px;}
	h1{margin-right: 280px; width: 180px; height: 60px;}
	h1 p{height: 100%; line-height: 60px;}
	.gnb>ul{width: auto; height: 100%;}
	.gnb>ul>li{margin-right: 20px; width: 180px; height: 100%;}
	.gnb>ul>li>button>p{line-height: 60px; font-size: 20px;}
	
}

@media screen and (min-width: 769px) and (max-width: 1280px){
	#headBox{width: 100%; height: 80px;}
	.gnb{padding: 15px 30px;width: 100%; height: 100%;}
	h1>a>i{width: 50px; height: 50px; background-size: 60%}
	h1>a>p{line-height: 50px; font-size: 18px;}
	.gnb>ul{float: right; width: 65%; height: 100%;}
	.gnb>ul>li{width: 25%; height: 100%;}
	.gnb>ul>li>button>p{line-height: 50px; font-size: 14px;}

}