/* sun_portfolio.css */

#wrap{position: relative; padding-top: 60px; box-sizing: border-box; height: auto; min-height: calc(100% - 60px);}
	
	/*.gnb>ul>li:nth-child(2) p{border-bottom: 3px solid #212e3d;}*/
	.pic,.pic.gillette{background-image: url('../../img/portfolio/gillette_mockup.png');  background-repeat: no-repeat;}
	.pic.kellogg{background-image: url('../../img/portfolio/kellogg_mockup_mob.png');
	}
	.text{background-color: #212e3d; border-radius: 10px; box-shadow: 0 0 1rem rgba(0,0,0,0.2)}
	.text.kellogg{background-color: #d50842}

	.text>dl>dt{background-image: url('../../img/portfolio/logo_gillette_white.svg'); background-repeat: no-repeat; background-size: auto 70%; background-position:left;}

	.list>ul>li{background-repeat: no-repeat; background-size: 80%; background-position: center;}
	.list>ul>li:nth-child(1){background-image: url('../../img/portfolio/logo_gillette.svg');}
	.list>ul>li:nth-child(2){background-image: url('../../img/portfolio/logo_kellogg.png');}
	.list>ul>li:nth-child(1).active{background-image: url('../../img/portfolio/logo_gillette_white.svg');
	 ; background-color: #212e3d}
	 .list>ul>li:nth-child(2).active{background-image: url('../../img/portfolio/logo_kellogg_white.svg');
	 ; background-color: #d50842}

	.text>dl,
	.text>dl>dt,
	.text>dl>dd{display: inline-block; width: auto; height: auto; max-width: 300px; color: #eaeaea;}
	
	.text{position: absolute; bottom: 110px; left: 40px;}
	.text>dl>dt{margin-bottom: 15px; height: 30px; width: 100%;}
	.text>dl>dd:first-of-type{margin-bottom: 10px; font-size: 16px; font-weight: 600; text-transform: uppercase;}
	.text>dl>dd:nth-of-type(2){margin-bottom: 15px;font-size: 14px; line-height: 1.4;}
	.text>dl>dd:last-child{font-size: 12px;}
	.fa-code{margin-left: 10px;}
	
	.list{position: relative; width: 100%; height: 120px; background-color: #d3d7df}
	.list>ul{display: inline-block; position: absolute; top: 50%; left: 20px; transform: translateY(-50%); width: auto; height: auto; 
	 }
	.list>ul>li{float: left; margin-right: 20px; width: 80px; height: 80px; border-radius: 8px; background-color: #fff}
	.list>ul>li>button{width: 100%; height: 100%;}
	
	.link{position: absolute;}
	.pic{background-color: #eaedf2;}

@media screen and (max-width: 800px){
	.pic{position: absolute; width: 100%; height: 650px; min-height: 100%; background-size: 150%; background-position: 30% 40%; }
	.text{left: 30px; bottom: 120px;}
	.text>dl>dt{height: 25px; margin-bottom: 0;}
	.text>dl>dd:first-of-type{margin-bottom: 5px; font-size: 14px;}
	.text>dl>dd:nth-of-type(2){margin-bottom: 5px; font-size: 14px;}
	.link{width: 140px; height: 40px; left: 30px; bottom: 40px;}
	.link>a{font-size: 14px;}
	

}
@media screen and (max-width: 320px){
	
}

@media screen and (max-width: 480px){
	.pic{padding: 1rem; box-sizing: border-box;}
	.text{left: auto; bottom: 90px; padding: 1rem; box-sizing: border-box; width: 90vw; height: auto; max-width: 340px}
	.link{left: auto; bottom: 30px;}
	.list{height: 80px;}
	.list>ul>li{width: 60px; height: 60px;}
}

@media screen and (min-width: 481px) and (max-width: 800px){
 	.text{padding: 1rem; left: 30px;}
	.link{left: 30px;}
 	.list{height: 120px;}
	.list>ul>li{width: 90px; height: 90px;}
	
}



@media screen and (min-width: 801px){
	#wrap{width: 100%; height: 100%;}
	.pic{position: relative; width: 100%; height: calc(100% - 180px); background-image: url('../../img/portfolio/gillette_mockup.png'); background-repeat: no-repeat;background-repeat: no-repeat; background-size: cover; background-position: 10px;}
	.pic.kellogg{background-image: url('../../img/portfolio/kellogg_mockup.png');}
	.text{padding: 1.5rem;}
	.link{bottom: 40px; left: 40px; width: 160px; height: 40px; }
	
	.list{height: 180px;}
	.list>ul{left: 40px}
	.list>ul>li{width: 130px; height: 130px;}


}

@media screen and (min-width: 801px) and (max-width: 1000px){
	.link{bottom: 40px; left: 40px;}
	.pic{background-position: 0 -	 30px;}
	.text{bottom: 120px; left: 40px;}
	.list>ul{left: 40px;}
	


}