/* sun_gallery.css */

#wrap{width: auto;  height: auto; min-height: 100%; background-color: #EAEDF2;}
.gallery{box-sizing: border-box;}
.gallery>ul{margin: auto; height: auto;} 
.gallery>ul>li{float: left; box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); background-color: #fff}
.gallery>ul>li>button{width: 100%; height: 100%; position: relative; }
.gallery>ul>li>button>p{position: absolute; bottom: 0; width: 100%; height: 50px; background-color: rgba(0,0,0,0.55); text-align: center; line-height: 50px; color: #fff; transition: all 800ms ease; }

.gallery>ul>li:hover>button>p{height: 100%; line-height: 300px}

@media screen and (max-width: 800px){
	

}


@media screen and (max-width: 480px){
	.gallery{padding: 40px 0; width: 100%; height: auto;}
	.gallery>ul{width: 90vw}
	.gallery>ul>li{margin-bottom: 20px; width: 100%; height: 90vw;}
}

@media screen and (min-width: 481px) and (max-width: 800px){
	.gallery{padding: 60px 0; width: 100%; height: auto;}
	.gallery>ul{width: 96vw }
	.gallery>ul>li{margin: 1.5vw; width: 45vw; height: 45vw;}
	.gallery>ul>li:hover>button>p{line-height: 45vw;}
}


@media screen and (min-width: 801px){
  .gallery{padding: 60px 0; width: auto; height: auto; min-width: 100%; min-height: 100%;}
  .gallery>ul>li{margin: 15px; width: 300px; height: 300px;}
}

@media screen and (min-width: 801px) and (max-width: 900px){
	.gallery>ul{width: 500px;}
	.gallery>ul>li{margin: 10px; width: 230px; height: 230px;}

}

@media screen and (min-width: 901px){
	.gallery>ul{width: 660px;}

}

@media screen and (min-width: 1451px){
	.gallery>ul{width: 990px;}

}
@media screen and (min-width: 1771px){
	.gallery>ul{width: 1320px;}

}